#!/usr/sbin/nft -f
flush ruleset

define LAN_IF   = "eth0"
define WAN_IF   = "eth1"
define LAN_NET  = 192.168.19.0/24
define FTP_PASV = 50000-50100

table inet filter {

  set IN_TCP {
    type inet_service;
    elements = { 21,22,80,443,41443,4840 };
  }

  set IN_UDP {
    type inet_service;
    elements = { 1194 };
  }

  chain input {
    type filter hook input priority 0;
    policy drop;

    iif lo accept
    ct state established,related accept

    ip protocol icmp accept
    ip6 nexthdr icmpv6 accept

    # LAN -> RevPi
    iifname $LAN_IF ip saddr $LAN_NET tcp dport @IN_TCP accept
    iifname $LAN_IF ip saddr $LAN_NET udp dport @IN_UDP accept
    iifname $LAN_IF ip saddr $LAN_NET tcp dport $FTP_PASV accept

    # WAN/Kundennetz -> RevPi
    iifname $WAN_IF tcp dport @IN_TCP accept
    iifname $WAN_IF udp dport @IN_UDP accept
    iifname $WAN_IF tcp dport $FTP_PASV accept

    limit rate 10/second burst 30 packets log prefix "NFT INPUT_DROP " flags all counter
  }

  chain forward {
    type filter hook forward priority 0;
    policy drop;

    ct state established,related accept

    # LAN -> WAN
    iifname $LAN_IF oifname $WAN_IF ip saddr $LAN_NET accept

    # WAN -> LAN: alles erlauben, was per DNAT entstanden ist
    iifname $WAN_IF oifname $LAN_IF ct status dnat accept

    limit rate 10/second burst 30 packets log prefix "NFT FWD_DROP " flags all counter
  }

  chain output {
    type filter hook output priority 0;
    policy accept;
  }
}

table ip nat {

chain prerouting {
  type nat hook prerouting priority -100;
  policy accept;

  include "/etc/nftables.d/portforwards_tcp.nft"
  include "/etc/nftables.d/portforwards_udp.nft"
}

  chain postrouting {
    type nat hook postrouting priority 100;
    policy accept;

    oifname "eth1" ip saddr 192.168.19.0/24 masquerade
  }
}



